/* -----RESET----- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* --------UTILITY-------- */
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back-grey{
    background-color: #d3d3d3;
    
}
.row{
    padding: 30px;
}
    
/* ------SECTION------- */

h1{
    padding: 30px 0;
    
}
p{
    padding-bottom: 10px;
    

}
/* HEADER */
header{
    background-color: #255ee9;
    color: white;
}
.menu{
    
    display: flex;
    justify-content: space-between;
}
.header-top{
    padding: 10px;
}
.menu-logo, .menu-link, .menu-login{
    
    padding: 5px;
    
}
.menu-logo, .menu-login{
flex-grow: 1;
width: 10%;
}
button.button-white{
    
    border-radius: 50px;
    background-color: white;
    padding: 10px;
}
button.button-black{
    border-radius: 50px;
    background-color: black;
    color: white;

    padding: 10px;
}
.menu-link{
    flex-grow: 1;
    text-align: center;
    width: 80%;
}
.menu-link>span{
    padding: 10px;
}
.menu-login{
    text-align: end;
}

.header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px;
    text-align: center;
}
.header-bottom>div{
    max-width: 50%;
    margin: auto;
}

     /* MAIN */

.box-img{
    flex-grow: 1;  
}
.box-text{
  
    flex-grow: 1;
    padding-left: 50px;
    
}

.first-segment{
    display: flex;
    
}

.second-segment{
    display: flex;
    flex-direction: row-reverse;
    
}
.green-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green-box>p{
    max-width: 874px;
}

.finish-main{
    display: flex;
    flex-direction: column;
}
.finish-main>h3{
    background-image: url(../img/stars.svg);
    
    text-align: center;
    padding: 10px 0;
}
.finish-main>button{
    background-color: #7289da;
    align-self: center;
}


     /* FOOTER */
footer{
    background-color: #23272a;
    color: white;
    text-align: center;
}

.footer-content{
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}
.pink-box>h1{
    color: #7289da;
    padding-top: 0;
}
.aqua-box>h5{
    color: #7289da;
}
.aqua-box{
    
    flex-grow: 1;
    
}
.end-page{
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.end-logo, .end-button{
    background-color: #f9bdc3;
    padding: 5px;
    border: 1px dashed black;
}
